doctype html
html(lang='en')
    head
        title Overlay for spinners
        style
            include overlay.css
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(type="text/javascript").
            // every 500 ms, check for update
            $(document).ready(function(){
                let loop=setInterval(function(){
                    $.get(location.origin+"/vote-count", function(data, status){
                            let state=data.split(',')[2];
                            if (state>=0) {
                                $('#teamName').text(`TEAM ${data.split(',')[0].toUpperCase()}`);
                                $('#current').text(data.split(',')[1]);
                                $('#time').text(`${data.split(',')[2]} seconds left to vote`);
                            }
                            else {
                                $('#time').text('');
                                clearInterval(loop);          
                            }
                            console.log(data);
                    });
                }, 500);
            });
    body
        .vote
            .name#teamName
            .count#current
            .clock#time
        